body{
    background: rgb(246,181,0);
    background: linear-gradient(90deg, rgba(246,181,0,1) 0%, rgba(255,145,0,0.8841911764705882) 17%, rgba(255,119,0,1) 42%, rgba(255,205,0,1) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    
}

#loginform{
    border: 1px solid black;
    width: 35%;
    padding-bottom: 3%;
    margin-top: 3%;
     border-radius: 5%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: white;
}

input{
   
    width: 200%;
    padding: 10% 10%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #f5af0030;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

p{
    color: rgb(242, 210, 0);
    font-size: 130%;
}

.innerform{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mainform{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}


button{
    margin-top: 10%;
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    border-radius: 8px;
    border: none;
    width: 220%;
    height: 100%;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

#logintop{
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
 font-size: 200%;
    align-self: center;
    padding: 4% 4%;
    border-radius: 20px;
    color: #f7b100;
}

#mainform1{
    display: none;
    align-items: center;
    flex-direction: column;
}

.none{
    display: none;
}


#message{
    color:green;
}

#register{
    cursor: pointer;
}

#tologin{
    cursor: pointer;
}

#registerbutton{
    cursor: pointer;
}

#loginbutton{
    cursor: pointer;
}

@media screen and (max-width:915px)
{
    input{
        width: 100%;
    }

    button{
        width: 100%;
    }
}

@media screen and (max-width:516px)
{

    #loginform{
        width: 60%;
    }
    input{
        width: 70%;
    }

    button{
        width: 70%;
    }
}