body{
    display: flex;
    flex-direction: column;
    
}

#container{
    background-color: rgb(242, 210, 0);
   width: 100%;
   height: 400px;
   display: flex;
  justify-content: space-around;
   
}

#bowl{
   width: 20%;
   height: 70%;
    align-self: flex-end;


}

#maintextdiv{
display: flex;
flex-direction: column;
align-items: center;
}   

#maintext{
    font-size: 50px;
    color: white;
   
}

#bottomtext{
    color: #504F4F;
    font-size: 20px;
}

#searchblock{
    width: 100%;
    background-color: white;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#inputsearch{
    height: 40px;
    width: 70%;
    border-radius: 8px;
    border: none;
}

#searchdiv{
display: flex;
width: 80%;
align-self: center;
align-items: center;

}

#foodwagon{
    display: flex;
}

#food{
    font-size: 25px;
   /* font-family: 'Source Sans Pro'; */
   color: #F17228;
}

#wagon{
    font-size: 25px;
    color: #FFB30E;
    ;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchfood{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

#loginbutton{
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
border-radius: 8px;
width: 40%;
height: 50px;
border: none;
}

#findfood{
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
border-radius: 8px;
border: none;
width: 30%;
height: 100%;
}

#delivery{
    background: rgba(241, 114, 40, 0.1);
border-radius: 8px;
border: none;
height: 100% ;
color: #F17228;
width: 30%;
height: 100% ;
font-size: 15px;

}

#pickup{
    color: #757575;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 15px;
   
}

#deliverypickup{
    display: flex;
    width: 80% ;
    align-self: center;
}

#container1{
    display: flex;
align-items: center;
justify-content:space-evenly;
    margin-top: 5%;
   
}

.image1{
    width: 70%;
}

.cardtop{
    color: #424242;
    font-size: 18px;
}

.cardbottom{
    color: #F17228;
    font-size: 18px;
    background: rgba(241, 114, 40, 0.2);
width: 40%;
}

.card{
display: flex;
flex-direction: column;
align-items: center;


}

#container2{
    display: flex;
    flex-direction: column;
    
    margin-top: 10%;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

}

#howitworks{
display: flex;
color: #F17228;
font-size: 350%;
align-self: center;
padding-top: 5%;
padding-bottom: 3%;

}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carddiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#carddiv1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#container3{
    display: flex;
    flex-direction: row;
    align-self: center;

    
}
#popularitems{
    display: flex;
    font-size: 230%;
    color: #212121;
   font-weight: bold;
   padding-top: 15%;
   padding-bottom: 20%;

}

.card2{
    padding-bottom: 10%;
}

#carddivtop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

#carddivbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resizeimage{
    width: 85%;
}

.card3{
    display: flex;
    flex-direction: column;
}

.innercard{
    display: flex;
}
