body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    
}

.cards{
    display: flex;
    justify-content: center;
    width: 15%;
}

#searchdiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

width: 100%;
align-self: center;
height: 40%;
padding-bottom: 5%;
background: rgb(246,181,0);
background: linear-gradient(90deg, rgba(246,181,0,1) 0%, rgba(255,145,0,0.8841911764705882) 17%, rgba(255,119,0,1) 42%, rgba(255,205,0,1) 99%);;
}

#searchbar{
    width: 40%;
   padding: 1% 1%;
   border-radius: 10px;
   border: none;
   align-items: center;
   display: flex;
   justify-content: center;
}

#searchbutton{
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    border-radius: 8px;
    border: none;
    width: 10%;
    padding: 1% 1%;
    margin-top: 1%;
    color: white;
    cursor: pointer;
}

#items{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
   height: 100%;

}


#test{
    
    flex-direction: column;
    height: 10%;
    border: 1px solid black;
    padding: 1%;

    border-radius: 10%;
}


#itemstop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

#itemsbottom{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 3%;
    
}

#cart{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    
}

#carttext{
    font-size: 170%;
    display: flex;
    
    align-self: center;
}

.item{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    margin-bottom: 3%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
}

#itemcont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}

#remove{
    background-color: rgb(193, 54, 54);
    color: white;
    border-radius: 10px;
    border: none;
    height: 20%;
}
#burgerd{
    margin-top: 5%;
    display: none;
    border: 1px solid black;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

#toffed{
    margin-top: 5%;
    display: none;
    border: 1px solid black;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

#dancaked{
    margin-top: 5%;
    display: none;
    border: 1px solid black;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

#sandwichd{
    margin-top: 5%;
    display: none;
    border: 1px solid black;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}

#soupd{
    margin-top: 5%;
    display: none;
    border: 1px solid black;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#foodwagon{
    display: flex;
    cursor: pointer;
}

#food{
    font-size: 25px;
   /* font-family: 'Source Sans Pro'; */
   color: #F17228;
}

#wagon{
    font-size: 25px;
    color: #FFB30E;
    ;
}



#img{
    width: 20%;
}

.detailsBurger{
    cursor: pointer;
}

#detailsSandwich{
    cursor: pointer;
}

#detailsToffe{
    cursor: pointer;
}

#detailsCake{
    cursor: pointer;
}

#detailsSanwich{
    cursor: pointer;
}

#detailsSoup{
    cursor: pointer;
}

.X1{
    cursor: pointer;
}

.X2{
    cursor: pointer;
}

.X3{
    cursor: pointer;
}

.X4{
    cursor: pointer;
}

.X5{
    cursor: pointer;
}

.addToCart{
    cursor: pointer;
}

#remove{
    cursor: pointer;
}





@media screen and (max-width:750px)
{
.cards{
margin-bottom: 10%;
width: 80%;
}
    #items{
        align-items: center;
    }

    #item{
        width: 80%;
    }
    #itemstop{
width: 50%;
        flex-direction: column;
        align-items: center;
    }

    #itemsbottom{
        flex-direction: column;
        width: 50%;
        align-items: center;
        align-self: center;
    }

    #burgerd{
        width: 100%;
    }
    #toffed{
        width: 100%;
    }
    #dancaked{
        width: 100%;
    }

    #cart{
        width: 80%;
    }

    #sandwichd{
        width: 100%;
    }
}

