body{
    display: flex;
    flex-direction: column;
    
}

#container{
    background-color: rgb(242, 210, 0);
   width: 100%;
   height: 400px;
   display: flex;
  justify-content: space-around;
   
}

#bowl{
   width: 20%;
   height: 70%;
    align-self: flex-end;


}

#maintextdiv{
display: flex;
flex-direction: column;
align-items: center;
}   

#maintext{
    font-size: 50px;
    color: white;
   
}

#bottomtext{
    color: #504F4F;
    font-size: 20px;
}

#searchblock{
    width: 100%;
    background-color: white;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#inputsearch{
    height: 40px;
    width: 70%;
    border-radius: 8px;
    border: none;
}

#searchdiv{
display: flex;
width: 80%;
align-self: center;
align-items: center;

}

#foodwagon{
    display: flex;
}

#food{
    font-size: 25px;
   /* font-family: 'Source Sans Pro'; */
   color: #F17228;
}

#wagon{
    font-size: 25px;
    color: #FFB30E;
    ;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchfood{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

#loginbutton{
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
border-radius: 8px;
width: 40%;
height: 50px;
border: none;
}

#findfood{
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
border-radius: 8px;
border: none;
width: 30%;
height: 100%;
}

#delivery{
    background: rgba(241, 114, 40, 0.1);
border-radius: 8px;
border: none;
height: 100% ;
color: #F17228;
width: 30%;
height: 100% ;
font-size: 15px;

}

#pickup{
    color: #757575;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 15px;
   
}

#deliverypickup{
    display: flex;
    width: 80% ;
    align-self: center;
}

#container1{
    display: flex;
align-items: center;
justify-content:space-evenly;
    margin-top: 5%;
   
}

.image1{
    width: 70%;
}

.cardtop{
    color: #424242;
    font-size: 18px;
}

.cardbottom{
    color: #F17228;
    font-size: 18px;
    background: rgba(241, 114, 40, 0.2);
width: 40%;
}

.card{
display: flex;
flex-direction: column;
align-items: center;


}

#container2{
    display: flex;
    flex-direction: column;
    
    margin-top: 10%;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

}

#howitworks{
display: flex;
color: #F17228;
font-size: 350%;
align-self: center;
padding-top: 5%;
padding-bottom: 3%;

}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carddiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#carddiv1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#container3{
    display: flex;
    flex-direction: row;
    align-self: center;

    
}
#popularitems{
    display: flex;
    font-size: 230%;
    color: #212121;
   font-weight: bold;
   padding-top: 15%;
   padding-bottom: 20%;

}

.card2{
    padding-bottom: 10%;
}

#carddivtop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

#carddivbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resizeimage{
    width: 85%;
}

.card3{
    display: flex;
    flex-direction: column;
}

.innercard{
    display: flex;
    align-items: center;
    flex-direction: row;
    
   
}

.sidecard{
    display: flex;
  flex-direction: column;
 width: 20%;
padding-left: 10%;
justify-content: center;
}

.sidecard p{
    margin: 10%;
    

}

.openstommorrow{
    color: #F17228;
    background: rgba(241, 114, 40, 0.2);
border-radius: 16px;
border: none;
display: flex;
width: 44%;
align-items: center;
padding-top: 2% ;
padding-bottom: 2%;
justify-content: center;
font-size: 90%;
font-weight: bold;
}

.opennow{
    color: #79B93C;
    background: rgba(121, 185, 60, 0.2);
border-radius: 16px;
border-radius: 16px;
border: none;
display: flex;
width: 40%;
align-items: center;
padding-top: 2% ;
padding-bottom: 2%;
justify-content: center;
font-size: 90%;
font-weight: bold;
}

#container4{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

#featuredrestourants{
    display: flex;
    font-size: 200%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

#viewall{
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
width: 10%;
padding-top: 1%;
padding-bottom: 1%;
display: flex;
justify-content: center;
border: none;
color: white;

box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
border-radius: 14px;

}

#buttondiv1{
    display: flex;
    padding-top: 3%;
   
    justify-content: center;
}


#container5{
    background: #FEFAF1;
}



#pizza{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(2\).png");
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#burger{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(1\).png");
}

#noodles{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(6\).png");
}
#sub{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(5\).png");
}

#chowmein{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(4\).png");
}

#steak{
    border-radius: 50%;
    width: 10%;
    height: 200px;
    background-image: url("circle\ \(3\).png");
}

#circlediv{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 5%;
}


#bottomtextcircle{
    display: flex;
    align-items: center;
    margin-top: 10%;
}

#container6{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    background: #FEEFD0;
}

#container7{
    display: flex;
    background: #FEEFD0;
    flex-direction: column;
    align-items: center;
}

#downloaddesc{
  width: 20%;
}

#container8{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:5%;
    
}

#sandwichpng{
    width: 100%;
    height: 80%;

    
}
#innercont{
    display: flex;
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 14px 15px rgba(124, 124, 124, 0.06), 0px 27px 82px rgba(124, 124, 124, 0.28);
    align-items: center;
}

#sandwichleft{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proceedbutton{
   width: 70%;
   padding-bottom: 2%;
   border-radius: 8px;
   display: flex;
   padding-top: 2%;
   justify-content: center;
}

#chickenpng{
    width: 100%;
    height: 80%;
}


#chickenright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container9{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:5%;
}

#container10{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:5%;
}

#container11{
    display: flex;
   background-image: url(test.png);
   padding-bottom: 10%;
   background-repeat: round;
   align-items: center;
   justify-content: center;
}

#center11{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#proceedbutton1{
    background-color: #F17228; color: white; border: none; width: 30%; padding-top: 2%; padding-bottom: 2%;
}
@media screen and (max-width:750px)
{
    #header{
        display: flex;
      flex-direction: column;
      align-self: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
      height: 200px;
    }

    #bowl{
        display: none;
    }

    #container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #container1{
        flex-direction: column;
    }

    #carddiv{
        flex-direction: column;
    }
    #container2{
        text-align: center;
    }

    #carddiv1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #carddivtop{
        flex-direction: column;
        padding-left: 20%;
        
    }

    .resizeimage{
        width: 70%;
    }

    #carddivbottom{
        flex-direction: column;
        padding-left: 20%;
        
    }

    #circlediv{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #burger{
        width: 50%;
        background-repeat: round;
    }

    #pizza{
        width: 50%;
        background-repeat: round;
    }
    #steak{
        width: 50%;
        background-repeat: round;
    }
    #sub{
        width: 50%;
        background-repeat: round;
    }
    #noodles{
        width: 50%;
        background-repeat: round;
    }
    
    #chowmein{
        width: 50%;
        background-repeat: round;
    }

    #viewall{
        width: 50%;
    }

    #container7{
        align-items: center;
        justify-content: center;
    }

    #downloadbuttons{
        display: flex;
        flex-direction: column;
    }
    
    #downloaddesc{ 
        width: 70%;
        height: 30%;
        
    }

    #chickenpng{
        display: none;
    }

    #sandwichpng{
        display: none;
    }

    #container11{
        background-color: #feba00;
        background-image: none;
    }

    #proceedbutton1{
        width: 50%;
    }

    

   
}
